.flex {
  display: flex;
}

.none {
  display: none;
}

nav {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  justify-content: space-around;
  width: 70%;
}

footer {
  width: 100%;
  border-top: 1px solid black;
}

.footer {
  padding: 2%;
}

/* Home */
.category {
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  padding: 10% 0 0 0;
  justify-content: space-around;
}

.card {
  flex-direction: column;
  width: 30%;
  border: solid;
  border-width: 1px;
  margin: 0 0 10% 0;
}

.card img {
  width: 100%;
  height: 60%;
}

.name-like {
  width: 90%;
  justify-content: space-between;
  margin: 10px 15px;
}

.like {
  background-color: white;
  border: none;
  cursor: pointer;
}

.comments-button {
  width: 70%;
  margin: auto;
}

.popUp {
  display: none;
  grid-template-rows: auto;
  grid-template-columns: auto;
  width: 60%;
  text-align: center;
  border: 1.5px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background: linear-gradient(360deg, rgba(0, 128, 49, 0.829), red);
  height: 90%;
  overflow-y: auto;
  padding: 2rem 0;
  z-index: 1;
}

/* .devPop {
  flex-direction: column;
  justify-content: space-around;
} */

i {
  font-size: 2rem;
  z-index: 100;
}

.imgPop {
  width: 80%;
  height: 80%;
  margin: auto;
}
